.itemContainer{
    width: 50%;
    background-color: rgb(247, 158, 158);
    
    column-gap: 10px;
  }
  
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:auto;
    
  }

  .container {
    font-weight: bold;
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
  }

  .btn{
    background-color: #ee2020; 
  border: none;
  color: white;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  }