.clock {
    height: 100px;
    width: 400px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color:dimgray;
    
                                                                             
  }
  .date {
    height: 30px;
    width: 30 px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color:dimgray;
                                                                             
  }
  .time {
    height: 60px;
    width: 60 px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color:dimgray;
                                                                             
  }
  .hour {
    
    font-size: 40px;
    font-weight: bold;
    background-color: #f1687fee;
    color: aliceblue;
  }
  .minute {
    font-size: 40px;
    font-weight: bold;
    background-color: #25eb78c4;
    color: aliceblue;
  }
  .second {
    font-size: 40px;
    font-weight: bold;
    background-color: #fca870ea;
    color: aliceblue;
  }
  
  .dateToday{
    font-size: 20px;
    font-weight: bold;
    background-color:dimgray;
  }
  .weekDay{
    font-size: 20px;
    font-weight: bold;
    background-color:dimgray;
  }
  .period{
    font-size: 20px;
    font-weight: bold;
    background-color:dimgray;
  }
  
  
  